#matrix-original{
    margin-left:250px;
    min-width: 130px;
    float: right;
}
#matrix-original .cell-original {
    display: block;
    margin-top: 10px;
    width: 130px;
}

#matrix-original .cell-original, .cell-result{
    border: 1px solid black;
    width:  15px;
    height: 15px;
    margin: 2px 2px;
    float: left;
}


#matrix-wrapper{
    min-width: 130px;
    float: left;
}

#matrix .row, #matrix-original .row {
    display: block;
    margin-top: 10px;
    width: 130px;
}

#matrix .cell, #dragging div {
    border: 1px solid black;
    width:  15px;
    height: 15px;
    margin: 2px 2px;
    float: left;
}

#dragging {
    position: absolute;
    display: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.color-1{
 background-color: #FF0000;
}
.color-2{
 background-color: #00FF00;
}
.color-3{
 background-color: #0000FF;
}
.color-4{
 background-color: #FFFF00;
}
.color-5{
 background-color: #00FFFF;
}